



body{
margin: 0px;
padding: 0px;

}

header{
	/*padding: 3%;*/
	text-align: center;
	padding: 2%;
	/*padding-right: 3%;*/
	font-family: 'Pacifico';
	font-size: 40px;
	float: right;
	color: #FFAACC;
}

.controls{
	text-align: center; 
}

a{
    color: #5599FF;
	margin: -1px;
}
.newGame:active, .undo:active{
	color: #FFAACC;
}


/*added for a better User Game Experience*/
.reds:hover{
	color: red;
	
}
.yews:hover{
	color: yellow;
	
}
a:visited{
	color: #5599FF;
}

#backgroundCanvas{
 
 position:center; 
  top:0; 
  left:0; 
  height:100%;
  z-index: -1;
}

#buttons{
	margin-left: 190px;
}
#buttons2{
	margin-left: 190px;
}



#saveDiv{
	text-align: center;
}

#saveButton{
	font-size: 20px;
	font-family: 'Pacifico';
	color: #FFAACC;
}